.bg-all {
    background-image: url("https://demo2.cybersoft.edu.vn/static/media/bg-all.2b72c7ac.png");
    background-size: cover;
    height: 100vh;
    object-fit: cover;
    /* width: 90%; */
}
.container{
    width: 90%;
}